extends ../layout

block content
  h1 Editar #{product.name}
  form(action='/products/#{product._id}/update', method='POST')
    div
      label(for="product_name") Nombre
      input(id="product_name", type='text', name='product[name]', value="#{product.name}")

    div
      label(for="product_category") Categoria
      input(id="product_category", type='text', name='product[category]', value="#{product.category}")

    div
      label(for="product_price") Precio
      input(id="product_price", type='text', name='product[price]', value="#{product.price}")

    div
      input(type='submit', value="Guardar")
